* {
	margin: 10px auto;
	padding: 0 10px;
	box-sizing: border-box;
}

.container {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 500px 200px;
}
.section {
	border: 1px solid #000;
	width: 100%;
}
