* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.story {
    display: grid;
    grid-template-columns: 54px 54px 54px 54px 54px 54px 54px 54px;
    grid-template-rows: auto;
    gap: 24px;
    justify-content: center;
}

.profile {
    width: 48px;
    height: 48px;
    border: 2px solid pink;
    border-radius: 50%;
    background-image: url("../media/cat.jpg");
    background-size: cover;
    margin-left: 12px;
    cursor: pointer;
}

.profile > a > div {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

a > .text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: gray;
}