* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.post {
	width: 600px;
	min-height: 1000px;
	background-color: transparent;
	margin: 0 auto;
}

.post__icons {
	width: 600px;
	height: 54px;
	margin: -34px 0px 0px;
	padding: 6px 16px 8px;
	display: flex;
}
.post__icons-btn {
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: none;
}

.post__icons-btn:nth-child(4) {
	margin-left: auto;
}
.post__likes {
	font: 14px;
	margin-left: 20px;
}
