.conteiner1 {
    align-items: center;
    justify-content: center;
    display: grid;
}
#main_diana{
    height: 30px;
    width: 650px;
    border: 1px solid black;
}
.posts {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    gap: 10px;
}
.body_conteiner {
    display: grid;
    grid-template-columns: 200px 200px 200px;  
}
.body_conteiner {
    justify-content: center;
}
